/*  p {
    color: blue;
    background-color: red;
    text-align: center;
}

.p {
    color: green;
    background-color: aqua;
}

#jk {
    font-size: 25px;
} */

/* div {
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
    border: 1px solid black;
    margin: 100px;

} 
div {
    margin: 20px;
}

.box12 {
    border: 20px dashed maroon;

}

.box34 {
    border: 25px dotted aqua;

}

#box1 {
    height: 150px;
    width: 150px;
    background-color: red;
    padding: 15px;
}

#box2 {
    height: 200px;
    width: 200px;
    background-color: green;
    padding: 20px;

}

#box3 {
    height: 250px;
    width: 250px;
    background-color: blue;
    padding: 25px;

}

#box4 {
    height: 300px;
    width: 300px;
    background-color: turquoise;
    padding: 50px;
}

h1 {
    text-align: center;
    color: purple;
}

p {
    color: red;
    font-size: 20px;
}

.output {
    border: 10px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 100px;
    height: 100px;
    width: 1000px;
} */

/* div {
    border: solid black 5px;
}
#head{
    background-color: aquamarine;
}
#para{
    background-color: lawngreen;
} */

#parent{
    border: 2px solid black;
    padding: 10px;
    margin-right: 850px;
}
.box{
    height: 200px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 10px;
    
}
#box1{
    background-color: chartreuse;
   
}
#box2{
    background-color: crimson;
}
#box3{
    background-color: aquamarine;
}